{% extends 'core/base.html' %}
{% load static %}
{% block 'body' %}
<br>
<br>
<br>
<style type="text/css">
.bsbg {
      background-image: url('{% static "assets/img/Blog62_Header.png" %}');
      height: 25vh;
}
</style>
<div class="container">
	<div class="card bg-image bsbg">
		<div class="card-body">
			<br>
			<br>
			<div class="card-title">
				<span class="fa fa-2x fa-inverse">Propose your talents to new customers !</span>
			</div>
			<a href="{% url 'seller_account' %}"><button class="btn btn-dark">Start to sell</button></a>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="text-center">
		<span class="fa fa-3x">2kolos.com</span>
		<br>
		<br>
		<br>
		<span class="fa fa-2x">First community of micro-services in Cameroon, 2kolos is a online platform, make for you.</span>
	</div>
	<br>
	<div class="text-center">
		<span class="fa fa-2x"><b>How it work ?</b></span>
		<br>
		<br>
		<div class="row">
			<div class="col-1"></div>
			<div class="col">
				<table class="table">
					<tr>
					  <td>
					  	<img src="{% static 'assets/img/icon-interface.svg' %}">
					  </td>
					  <td>
					    <p><b>1. Fill your profile and create your micro-finance</b></p>
					    <p class="card-text">Present you, after present your skills. Your micro-service is your quotation, and once valided by our team, your customers have just to command for 2kolos or more.</p>
					  </td>
					</tr>
					<tr>
					  <td>
					  	<img src="{% static 'assets/img/icon-shopping.svg' %}">
					  </td>
					  <td>
					    <p><b>2. Sell and satisfy customers</b></p>
					    <p class="card-text">You will receive a notification each new commands. You should do a good work to receive positives remarks.</p>
					  </td>
				  </tr>
				  <tr>
				  <td>
				  	<img src="{% static 'assets/img/icon-money.svg' %}">
				  </td>
				  <td>
				    <p><b>3. Receive your money</b></p>
				    <p class="card-text">Once your command finished, your bill is automatically edited and your money is disponible. You can drop it when you want.</p>
				  </td>
				</tr>
				</table>
			</div>
			<div class="col-1"></div>
		</div>
	<br>
	<div class="text-left">
		<span class="fa fa-2x"><b>Why choose 2kolos.com</b></span>
		<p></p>
		<ol>
		<li>Sell freely</li>
		<li>The commission at 10% only</li>
		<li>Cash out your money without condition</li>
		<li>You stay independent and sell when you want</li>
		</ol>
		<a href="{% url 'seller_account' %}"><button class="btn btn-dark">I am OK !</button></a>
	</div>
</div>
{% endblock %}