{% extends 'core/base.html' %}
{% block 'body' %}
<section class="login-clean">
    <form method="post">
        {% csrf_token %}
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
        {% for form in forms %}
            <div class="help text-danger">{{ form.errors }}</div>
            <div class="form-group">{{ form }}</div>
        {% endfor %}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</section>
{% endblock %}